.card-main {
  display: flex;

  .card-left {
    flex: 1;
  }
}

.card-right {
  display: flex;
}

.flex-centered {
  margin: auto;
}

.text-center {
  text-align: center;
}

.nb_card_blogcategory {
  padding: 0px !important;
  height: 15rem !important;
}

.img_blogcategory {
  display: flex;
  background-size: auto 100%;
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 70px;

  &::before {
    background-color: rgba(255, 255, 255, 0.1);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  &:hover::before {
    opacity: 0;
  }

}

.blogcategory-name{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.blogcategory-header{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}