<!-- detail -->
<nb-card *ngIf="dialog_action === 'detail'" size="large" accent="success" style="width: 400px;">
  <nb-card-header>Detail Setup Style {{ name_setupstyle }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" [(ngModel)]="data_detail.name"  fullWidth disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Image</label>
          <img src="{{data_detail.image}}" onerror="this.src='../../assets/images/no_image.png';" width="100%" height="220px"
            alt="Image" class="upload_img">
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-4">
        <button class="btn btn-block btn-hero-danger" (click)="delete()">DELETE</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-warning" (click)="edit()">EDIT</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-success" (click)="dismiss()">CLOSE</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>


<!-- delete -->
<nb-card *ngIf="dialog_action === 'delete'" accent="danger" style="width: 400px;">
  <nb-card-header>Delete Setup Style {{ name_setupstyle }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    Are you sure want to delete this setup style?
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-6">
        <button class="btn btn-block btn-hero-danger" (click)="go_delete()">DELETE</button>
      </div>
      <div class="col-6">
        <button class="btn btn-block btn-hero-success" (click)="detail()">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>


<!-- edit -->
<nb-card *ngIf="dialog_action === 'edit'" size="large" accent="warning" style="width: 400px;">
  <nb-card-header>Edit Setup Style {{ name_setupstyle }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" [(ngModel)]="data_edit.name" fullWidth autocomplete="off" placeholder="Name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Image</label>
          <input type="file" accept='image/*' fieldSize="medium" class="form-control upload" [(ngModel)]="data_edit.image"
            fullWidth autocomplete="off" placeholder="Image" (change)="changeImage($event)">
          <img [src]="imageURL" onerror="this.src='../../assets/images/no_image.png';" width="100%" height="220px" alt="Logo"
            class="upload_img">
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-12">
        {{error_message}}
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-4">
        <button class="btn btn-block btn-hero-warning" (click)="go_edit()">EDIT</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-primary" (click)="go_revert();">REVERT</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-success" (click)="detail()">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<!-- loading modal -->
<div [hidden]="!loading" class="loading_modal">
  <div class="blob blob-0"></div>
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
  <div class="blob blob-4"></div>
  <div class="blob blob-5"></div>
</div>