<!-- detail -->
<nb-card *ngIf="dialog_action === 'detail'" size="large" accent="success" style="width: 500px;">
  <nb-card-header>Detail Social Media {{ name_socialmedia }}</nb-card-header>
  <nb-card-body style="text-align: center;">

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" [(ngModel)]="data_detail.name" fullWidth disabled>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Status</label>
          <input type="text" class="form-control" [(ngModel)]="data_detail.status" fullWidth disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Url</label>
          <input type="text" class="form-control" [(ngModel)]="data_detail.url" fullWidth disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Icon</label>
          <img src="{{data_detail.icon}}" onerror="this.src='../../assets/images/no_image.png';" width="100%"
            height="220px" alt="Image" class="upload_img">
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-4">
        <button class="btn btn-block btn-hero-danger" (click)="delete()">DELETE</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-warning" (click)="edit()">EDIT</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-success" (click)="dismiss()">CLOSE</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>


<!-- delete -->
<nb-card *ngIf="dialog_action === 'delete'" accent="danger" style="width: 500px;">
  <nb-card-header>Delete Social Media {{ name_socialmedia }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    Are you sure want to delete this social media?
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-6">
        <button class="btn btn-block btn-hero-danger" (click)="go_delete()">DELETE</button>
      </div>
      <div class="col-6">
        <button class="btn btn-block btn-hero-success" (click)="detail()">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>


<!-- edit -->
<nb-card *ngIf="dialog_action === 'edit'" size="large" accent="warning" style="width: 500px;">
  <nb-card-header>Edit Social Media {{ name_socialmedia }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="data_edit.name" fullWidth autocomplete="off"
              placeholder="Name">
          </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Status</label>
                <select class="form-control" fullWidth autocomplete="off" [(ngModel)]="data_edit.status">
                  <option value="Publish">Publish</option>
                  <option value="Unpublish">Unpublish</option>
                </select>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Url</label>
            <input type="url" class="form-control" [(ngModel)]="data_edit.url" fullWidth autocomplete="off" placeholder="Url">
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Icon</label>
          <input type="file" accept='image/*' fieldSize="medium" class="form-control upload"
            [(ngModel)]="data_edit.icon" fullWidth autocomplete="off" placeholder="Icon"
            (change)="changeIcon($event)">
          <img [src]="iconURL" onerror="this.src='../../assets/images/no_image.png';" width="100%" height="150px"
            alt="Icon" class="upload_img">
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-12">
        {{error_message}}
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-4">
        <button class="btn btn-block btn-hero-warning" (click)="go_edit()">EDIT</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-primary" (click)="go_revert();">REVERT</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-success" (click)="detail()">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<!-- loading modal -->
<div [hidden]="!loading" class="loading_modal">
  <div class="blob blob-0"></div>
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
  <div class="blob blob-4"></div>
  <div class="blob blob-5"></div>
</div>