<!-- add -->
<nb-card *ngIf="dialog_action === 'add'" accent="info" style="width: 400px;">
  <nb-card-header>Add New Facilities</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" [(ngModel)]="name" fullWidth autocomplete="off" placeholder="Name">
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-12">
        {{error_message}}
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-4">
        <button class="btn btn-block btn-hero-info" (click)="dialog_action = 'confirm'">ADD</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-primary" (click)="clear();
        reset();">CLEAR</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-success" (click)="dismiss()">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<!-- confirm -->
<nb-card *ngIf="dialog_action === 'confirm'" accent="info" style="width: 500px;">
  <nb-card-header>Add Facilities {{ name }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    Are you sure want to add this facility?
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-6">
        <button class="btn btn-block btn-hero-info" (click)="add()">Add</button>
      </div>
      <div class="col-6">
        <button class="btn btn-block btn-hero-success" (click)="dialog_action = 'add'">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<!-- loading modal -->
<div [hidden]="!loading" class="loading_modal">
  <div class="blob blob-0"></div>
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
  <div class="blob blob-4"></div>
  <div class="blob blob-5"></div>
</div>