<!-- add -->
<nb-card *ngIf="dialog_action === 'add'" size="large" accent="info" style="width: 500px;">
  <nb-card-header>Add New Blog Category</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" [(ngModel)]="name" fullWidth autocomplete="off" placeholder="Name">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Status</label>
          <select class="form-control" fullWidth autocomplete="off" [(ngModel)]="status">
            <option value="active">Active</option>
            <option value="nonactive">Nonactive</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Icon</label>
          <input type="file" accept='image/*' fieldSize="medium" class="form-control upload" [(ngModel)]="icon"
            fullWidth autocomplete="off" placeholder="Icon" (change)="changeIcon($event)">
          <img [src]="iconURL" onerror="this.src='../../assets/images/no_image.png';" width="100%" height="150px" alt="Icon"
            class="upload_img">
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-12">
        {{error_message}}
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-4">
        <button class="btn btn-block btn-hero-info" (click)="dialog_action = 'confirm'">ADD</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-primary" (click)="clear();
        reset();">CLEAR</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-success" (click)="dismiss()">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<!-- confirm -->
<nb-card *ngIf="dialog_action === 'confirm'" accent="info" style="width: 500px;">
  <nb-card-header>Add Blog Category {{ name }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    Are you sure want to add this blog category?
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-6">
        <button class="btn btn-block btn-hero-info" (click)="add()">Add</button>
      </div>
      <div class="col-6">
        <button class="btn btn-block btn-hero-success" (click)="dialog_action = 'add'">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<!-- loading modal -->
<div [hidden]="!loading" class="loading_modal">
  <div class="blob blob-0"></div>
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
  <div class="blob blob-4"></div>
  <div class="blob blob-5"></div>
</div>