<!-- detail -->
<nb-card *ngIf="dialog_action === 'detail'" size="large" accent="success" style="width: 500px;">
  <nb-card-header>Detail Role {{ name_role }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    <nb-tabset fullWidth class="tab-custom">
      <nb-tab tabTitle="Data">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Department</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.department_name" fullWidth disabled>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Role Name</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.name" fullWidth disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Role Level</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.level" fullWidth disabled>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>SLA Duration</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.sla" fullWidth disabled>
            </div>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Detail" style="text-align: left;">
        <div *ngIf="loading == false" class="row">
          <div class="col-sm-12">
            <ng-template #recursiveList let-list>
              <div *ngFor="let item of list">
                <label style="margin-bottom: calc(0.5rem - 2px)">
                  <nb-checkbox class="custom_checkbox" [value]="item.show" disabled>{{item.name}}</nb-checkbox>
                </label>
                <div *ngIf="item.children" style="padding-left: 25px;">
                  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
                </div>
                <div *ngIf="item.data" style="padding-left: 25px;">
                  <div *ngFor="let data of item.data">
                    <label style="margin-bottom: calc(0.5rem - 2px)">
                      <nb-checkbox status="warning" class="custom_checkbox" [value]="data.access" disabled>{{data.name}}</nb-checkbox>
                    </label>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
          </div>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-4">
        <button class="btn btn-block btn-hero-danger" (click)="delete()">DELETE</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-warning" (click)="edit()">EDIT</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-success" (click)="dismiss()">CLOSE</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>


<!-- delete -->
<nb-card *ngIf="dialog_action === 'delete'" accent="danger" style="width: 500px;">
  <nb-card-header>Delete Role {{ name_role }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    Are you sure want to delete this role?
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-6">
        <button class="btn btn-block btn-hero-danger" (click)="go_delete()">DELETE</button>
      </div>
      <div class="col-6">
        <button class="btn btn-block btn-hero-success" (click)="detail()">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>


<!-- edit -->
<nb-card *ngIf="dialog_action === 'edit'" size="large" accent="warning" style="width: 500px;">
  <nb-card-header>Edit Role {{ name_role }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    <nb-tabset fullWidth class="tab-custom">
      <nb-tab tabTitle="Data">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Department</label>
              <input type="text" class="form-control" [(ngModel)]="data_edit.department_name" fullWidth disabled>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Role Name</label>
              <input type="text" class="form-control" [(ngModel)]="data_edit.name" fullWidth autocomplete="off" placeholder="Role Name">
            </div>
          </div>
        </div>        
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Role Level</label>
              <select class="form-control" fullWidth autocomplete="off" [(ngModel)]="data_edit.level">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>SLA Duration</label>
              <select class="form-control" fullWidth autocomplete="off" [(ngModel)]="data_edit.sla">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
              </select>
            </div>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Detail" style="text-align: left;">
        <div *ngIf="loading == false" class="row">
          <div class="col-sm-12">
            <ng-template #edit_recursiveList let-edit_list>
              <div *ngFor="let item of edit_list">
                <label style="margin-bottom: calc(0.5rem - 2px)">
                  <nb-checkbox class="custom_checkbox" [(ngModel)]="item.show" [value]="item.show">{{item.name}}</nb-checkbox>
                </label>
                <div *ngIf="item.children" style="padding-left: 25px;">
                  <ng-container *ngTemplateOutlet="edit_recursiveList; context:{ $implicit: item.children }"></ng-container>
                </div>
                <div *ngIf="item.data" style="padding-left: 25px;">
                  <div *ngFor="let data of item.data">
                    <label style="margin-bottom: calc(0.5rem - 2px)">
                      <nb-checkbox status="warning" class="custom_checkbox" [(ngModel)]="data.access" [value]="data.access">{{data.name}}</nb-checkbox>
                    </label>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-container *ngTemplateOutlet="edit_recursiveList; context:{ $implicit: edit_list }"></ng-container>
          </div>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-12">
        {{error_message}}
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-4">
        <button class="btn btn-block btn-hero-warning" (click)="go_edit()">EDIT</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-primary" (click)="go_revert();">REVERT</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-success" (click)="detail()">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<!-- loading modal -->
<div [hidden]="!loading" class="loading_modal">
  <div class="blob blob-0"></div>
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
  <div class="blob blob-4"></div>
  <div class="blob blob-5"></div>
</div>