<nb-layout center>
  <!-- <nb-layout-header>
    <h1 id="title" class="title">Meenistry - Back Office</h1>
  </nb-layout-header> -->
  <nb-layout-column>
    <div class="row show-grid">
      <div class="col-md-6 offset-md-3">
        <div class="row show-grid">
          <div class="col-2" style="padding-right: 0px;">
            <img src="../../assets/images/logo_meenistry.png" width="100%" style="margin: 0.67em 0;" alt="Meenistry Logo">
          </div>
          <div class="col-10">
            <h1 id="title" class="title">Meenistry - Back Office</h1>
            <p class="sub-title">Hello! Log in with your email.</p>
          </div>
        </div>
        <nb-card>
          <nb-card-body>
            <form (submit)="login($event)">
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <button type="submit" nbButton hero status="success">Login</button>
              <label class="alert"> {{message}}</label>
            </form>
          </nb-card-body>
        </nb-card>
        <p class="sub-title">Created with ♥ by <b><a href="https://meenistry.com" target="_blank">Meenistry</a></b>
          2018 - 2019</p>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>

<div *ngIf="globalService.loading" class="loading">
  <div class="blob blob-0"></div>
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
  <div class="blob blob-4"></div>
  <div class="blob blob-5"></div>
</div>