.card-main {
  display: flex;

  .card-left {
    flex: 1;
  }
}

.card-right {
  display: flex;
}

.flex-centered {
  margin: auto;
}

.text-center {
  text-align: center;
}

.nb_card_blog {
  padding: 0px !important;
  height: 15rem !important;
}

.img_blog {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  span {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    font-family: nb-theme(font-secondary);
    font-weight: nb-theme(font-weight-bolder);
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  &::before {
    background-color: rgba(255, 255, 255, 0.1);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  &:hover::before {
    opacity: 0;
  }

}
.blog-header{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-name{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-title{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}