<!-- header -->
<nb-card>
  <nb-card-body>
    <div class="card-main">
      <span class="card-left">
        <button nbButton hero status="info" (click)="load_add_blog()">ADD</button>
      </span>
      <span class="card-right">
        <div class="input-group">
          <input type="text" nbInput fullWidth placeholder="Blog name...">
        </div>
      </span>
      <span class="card-right">
        <button class="btn btn-primary input-group-text">
          Search
        </button>
      </span>
    </div>
  </nb-card-body>
</nb-card>


<!-- list data -->
<div class="row show-grid">
  <div class="col-md-3 col-sm-6" *ngFor="let data of data_blog;">
    <nb-card (click)="load_detail_blog(data.id)" accent="{{data.status == 'publish' ? 'success' : 'danger'}}">
      <nb-card-header class="blog-title">
          {{data.title}}
      </nb-card-header>
      <nb-card-body class="nb_card_blog">
        <div class="img_blog" [style.background-image]="'url(' + data.image + ')'">
          <span class="blog-name">{{data.category_name}}</span>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>


<!-- alert message -->
<div *ngIf="data_message !== 'Success'" class="flex-centered text-warning col-xl-4 col-lg-6 col-md-8 col-sm-12">
  <h4 class="text-warning text-center">Warning!</h4>
  <h5 class="text-warning text-center">{{data_message}}</h5>
  <br>
  <button (click)="load_blog()" type="button" class="btn btn-block btn-hero-warning">
    RELOAD DATA
  </button>
</div>


<!-- pagination -->
<nb-card *ngIf="data_message === 'Success'">
  <nb-card-body>
    <div class="card-main">
      <span class="card-left" style="padding-top: 0.65rem;">
        {{data_start}}-{{data_end}} of {{data_total}} data
      </span>
      <span class="card-right">
        <ngb-pagination class="d-flex justify-content-end" [collectionSize]="data_total" [maxSize]="5" [(page)]="page_current"
          [boundaryLinks]="true" (pageChange)="load_blog()"></ngb-pagination>
      </span>
    </div>
  </nb-card-body>
</nb-card> 