<!-- add -->
<nb-card *ngIf="dialog_action === 'add'" size="small" accent="info" style="width: 500px;">
  <nb-card-header>Add New Role</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Department</label>
          <select class="form-control" fullWidth autocomplete="off" [(ngModel)]="department">
            <option value="{{data.id}}" *ngFor="let data of data_department;">{{data.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Role Name</label>
          <input type="text" class="form-control" [(ngModel)]="name" fullWidth autocomplete="off" placeholder="Name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Role Level</label>
          <select class="form-control" fullWidth autocomplete="off" [(ngModel)]="level">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>SLA Duration</label>
          <select class="form-control" fullWidth autocomplete="off" [(ngModel)]="sla">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
          </select>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-12">
        {{error_message}}
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-4">
        <button class="btn btn-block btn-hero-info" (click)="dialog_action = 'confirm'">ADD</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-primary" (click)="clear();
        reset();">CLEAR</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-success" (click)="dismiss()">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<!-- confirm -->
<nb-card *ngIf="dialog_action === 'confirm'" accent="info" style="width: 500px;">
  <nb-card-header>Add Role {{ name }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    Are you sure want to add this role?
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-6">
        <button class="btn btn-block btn-hero-info" (click)="add()">Add</button>
      </div>
      <div class="col-6">
        <button class="btn btn-block btn-hero-success" (click)="dialog_action = 'add'">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<!-- loading modal -->
<div [hidden]="!loading" class="loading_modal">
  <div class="blob blob-0"></div>
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
  <div class="blob blob-4"></div>
  <div class="blob blob-5"></div>
</div>