@import '../../../../@theme/styles/themes';
@import '../../../../@theme/styles/loading-modal';

@include nb-install-component() {
  nb-card {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
  }
  /deep/ nb-stepper .step-content {
    text-align: center;

    button {
      cursor: pointer;
      margin: 0.5rem;
    }
  }
  .step_bady_c {
    height: 100%;
    overflow: auto;
    margin: 0px;
    padding: 0px;
  }
}

.stepper-custom .row {
  margin-right: 0px !important; 
  margin-left: 0px !important; 
}

.tab-custom .row{
  margin-right: 0px !important; 
  margin-left: 0px !important; 
}