<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo">{{globalService.location}}</div>
  </div>
  <!-- <ngx-theme-switcher></ngx-theme-switcher> -->
</div>

<div class="header-container">
  <!-- <ngx-layout-direction-switcher></ngx-layout-direction-switcher> -->
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
    <!-- <nb-action icon="nb-gear" class="toggle-layout" (click)="toggleSettings()"></nb-action> -->
    <nb-action *nbIsGranted="['view', 'user']" >
      <nb-user [nbPopover]="templateRef" nbPopoverPlacement="bottom" [name]="user?.name" [picture]="user?.picture"></nb-user>
    </nb-action>
    <nb-action class="control-item" disabled icon="nb-notifications"></nb-action>
    <nb-action class="control-item" icon="nb-email"></nb-action>
    <!-- <nb-action class="control-item">
      <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
    </nb-action> -->
  </nb-actions>
</div>
<ng-template #templateRef>
  <nb-card class="margin-bottom-0">
    <!-- <nb-card-header>Template Shopping list</nb-card-header> -->
    <nb-list>
      <nb-list-item>Profile</nb-list-item>
      <nb-list-item (click)="logOut()">Logout</nb-list-item>
    </nb-list>
  </nb-card>
</ng-template>

<!-- loading -->
<div [hidden]="!globalService.loading" class="loading">
  <div class="blob blob-0"></div>
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
  <div class="blob blob-4"></div>
  <div class="blob blob-5"></div>
</div>