<!-- add -->
<nb-card *ngIf="dialog_action === 'add'" size="large" accent="info" style="width: 800px;">
  <nb-card-header>Add New Venue</nb-card-header>
  <nb-card-body>
    <nb-stepper orientation="horizontal" class="stepper-custom">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Main</ng-template>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" [(ngModel)]="name" fullWidth autocomplete="off" placeholder="Name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label>Property Type</label>
              <select class="form-control" fullWidth autocomplete="off" [(ngModel)]="propertytype">
                <option value="Hotel">Hotel</option>
                <option value="Coworker">Coworker</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Bisnis Type</label>
              <select class="form-control" fullWidth autocomplete="off" [(ngModel)]="bisnistype">
                <option value="Hotel">Hotel</option>
                <option value="Coworker">Coworker</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Year Built</label>
              <input type="number" class="form-control" [(ngModel)]="yearbuilt" fullWidth autocomplete="off"
                placeholder="Year Built">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Last Renovate</label>
              <input type="number" class="form-control" [(ngModel)]="lastrenovate" fullWidth autocomplete="off"
                placeholder="Last Renovate">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Description</label>
              <textarea rows="5" nbInput fullWidth fieldSize="medium" autocomplete="off" shape="rectangle" [(ngModel)]="description"
                placeholder="Description"></textarea>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Overview</label>
              <textarea rows="5" nbInput fullWidth autocomplete="off" shape="rectangle" [(ngModel)]="overview"
                placeholder="Overview"></textarea>
            </div>
          </div>
        </div>
        <!-- <button nbButton disabled nbStepperNext>prev</button>
        <button nbButton nbStepperNext>next</button> -->
      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Image</ng-template>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Logo</label>
              <input type="file" accept='image/*' fieldSize="medium" class="form-control upload" [(ngModel)]="logo"
                fullWidth autocomplete="off" placeholder="Logo" (change)="changeLogo($event)">
              <img [src]="logoURL" onerror="this.src='../../assets/images/no_image.png';" width="100%" height="150px"
                alt="Logo" class="upload_img">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Image</label>
              <input type="file" accept='image/*' fieldSize="medium" class="form-control upload" [(ngModel)]="image"
                fullWidth autocomplete="off" placeholder="Image" (change)="changeImage($event)">
              <img [src]="imageURL" onerror="this.src='../../assets/images/no_image.png';" width="100%" height="150px"
                alt="Logo" class="upload_img">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Brochure</label>
              <input type="file" accept='image/*' fieldSize="medium" class="form-control upload" [(ngModel)]="brochure"
                fullWidth autocomplete="off" placeholder="Brochure" (change)="changeBrochure($event)">
              <img [src]="brochureURL" onerror="this.src='../../assets/images/no_image.png';" width="100%" height="150px"
                alt="Logo" class="upload_img">
            </div>
          </div>
        </div>
        <!-- <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button> -->
      </nb-step>
      <nb-step [label]="labelThree">
        <ng-template #labelThree>Address</ng-template>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Country</label>
              <input type="text" class="form-control" [(ngModel)]="country" fullWidth autocomplete="off" placeholder="Country">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Province</label>
              <input type="text" class="form-control" [(ngModel)]="province" fullWidth autocomplete="off" placeholder="Province">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>City</label>
              <input type="text" class="form-control" [(ngModel)]="city" fullWidth autocomplete="off" placeholder="City">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Address 1</label>
              <textarea rows="5" nbInput fullWidth fieldSize="medium" autocomplete="off" shape="rectangle" [(ngModel)]="address1"
                placeholder="Address 1"></textarea>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Address 2</label>
              <textarea rows="5" nbInput fullWidth fieldSize="medium" autocomplete="off" shape="rectangle" [(ngModel)]="address2"
                placeholder="Address 2"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Postal Code</label>
              <input type="text" class="form-control" [(ngModel)]="postalcode" fullWidth autocomplete="off" placeholder="Postal Code">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Longitude Latitude</label>
              <input type="text" class="form-control" [(ngModel)]="longitudelatitude" fullWidth autocomplete="off"
                placeholder="Longitude Latitude">
            </div>
          </div>
        </div>
        <!-- <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button> -->
      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>Contact</ng-template>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Phone</label>
              <input type="tel" class="form-control" [(ngModel)]="phone" fullWidth autocomplete="off" placeholder="Phone">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" [(ngModel)]="email" fullWidth autocomplete="off" placeholder="Email">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Website</label>
              <input type="url" class="form-control" [(ngModel)]="website" fullWidth autocomplete="off" placeholder="Website">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Facebook</label>
              <input type="url" class="form-control" [(ngModel)]="facebook" fullWidth autocomplete="off" placeholder="Facebook">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Twitter</label>
              <input type="url" class="form-control" [(ngModel)]="twitter" fullWidth autocomplete="off" placeholder="Twitter">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Instagram</label>
              <input type="url" class="form-control" [(ngModel)]="instagram" fullWidth autocomplete="off" placeholder="Instagram">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Linkedin</label>
              <input type="url" class="form-control" [(ngModel)]="linkedin" fullWidth autocomplete="off" placeholder="Linkedin">
            </div>
          </div>
        </div>
        <!-- <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button> -->
      </nb-step>
      <nb-step [label]="labelFive">
        <ng-template #labelFive>Setting</ng-template>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Currency</label>
              <input type="text" minlength="3" maxlength="3" class="form-control" [(ngModel)]="currency" fullWidth
                autocomplete="off" placeholder="Currency">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label style="margin-bottom: calc(0.5rem - 2px)">
                <nb-checkbox class="custom_checkbox" [(ngModel)]="outsidecatering" (change)="outsidecatering_change()">Outside
                  Catering</nb-checkbox>
              </label>
              <input type="number" min="0" max="100" class="form-control" [(ngModel)]="corkage" [disabled]="outsidecatering ? false : true"
                fullWidth autocomplete="off" placeholder="Corkage">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>PB 1</label>
              <input type="number" min="0" max="100" class="form-control" [(ngModel)]="pb1" fullWidth autocomplete="off"
                placeholder="PB 1">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Service Charge</label>
              <input type="number" min="0" max="100" class="form-control" [(ngModel)]="servicecharge" fullWidth
                autocomplete="off" placeholder="Service Charge">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Open</label>
              <input type="number" min="0" max="24" class="form-control" [(ngModel)]="open" fullWidth autocomplete="off"
                placeholder="Open" (change)="open_change()">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Close</label>
              <input type="number" min="0" max="24" class="form-control" [(ngModel)]="close" fullWidth autocomplete="off"
                placeholder="Close" (change)="close_change()">
            </div>
          </div>
        </div>
        <!-- <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button> -->
      </nb-step>
      <nb-step [label]="labelSix">
        <ng-template #labelSix>User</ng-template>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Full Name</label>
              <input type="text" class="form-control" [(ngModel)]="fullname" fullWidth autocomplete="off" placeholder="Full Name">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" [(ngModel)]="user_email" fullWidth autocomplete="off"
                placeholder="Email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Phone</label>
              <input type="tel" class="form-control" [(ngModel)]="user_phone" fullWidth autocomplete="off" placeholder="Phone">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Whatsapp</label>
              <input type="tel" class="form-control" [(ngModel)]="user_whatsapp" fullWidth autocomplete="off"
                placeholder="Whatsapp">
            </div>
          </div>
        </div>
        <!-- <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button> -->
      </nb-step>
    </nb-stepper>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-12">
        {{error_message}}
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-4">
        <button class="btn btn-block btn-hero-info" (click)="dialog_action = 'confirm'">ADD</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-primary" (click)="clear();
        reset();">CLEAR</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-success" (click)="dismiss()">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<!-- confirm -->
<nb-card *ngIf="dialog_action === 'confirm'" accent="info" style="width: 500px;">
  <nb-card-header>Add Venue {{ name }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    Are you sure want to add this venue?
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-6">
        <button class="btn btn-block btn-hero-info" (click)="add()">Add</button>
      </div>
      <div class="col-6">
        <button class="btn btn-block btn-hero-success" (click)="dialog_action = 'add'">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<!-- loading modal -->
<div [hidden]="!loading" class="loading_modal">
  <div class="blob blob-0"></div>
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
  <div class="blob blob-4"></div>
  <div class="blob blob-5"></div>
</div>