<!-- detail -->
<nb-card *ngIf="dialog_action === 'detail'" size="large" accent="success" style="width: 800px;">
  <nb-card-header>Detail Venue {{ name_venue }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    <nb-tabset fullWidth class="tab-custom">
      <nb-tab tabTitle="Main">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.name" fullWidth disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label>Property Type</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.propertytype" fullWidth disabled>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Bisnis Type</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.bisnistype" fullWidth disabled>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Year Built</label>
              <input type="number" class="form-control" [(ngModel)]="data_detail.yearbuilt" fullWidth disabled>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Last Renovate</label>
              <input type="number" class="form-control" [(ngModel)]="data_detail.lastrenovate" fullWidth disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Description</label>
              <textarea rows="5" nbInput fullWidth fieldSize="medium" shape="rectangle" [(ngModel)]="data_detail.description" disabled></textarea>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Overview</label>
              <textarea rows="5" nbInput fullWidth fieldSize="medium" shape="rectangle" [(ngModel)]="data_detail.overview" disabled></textarea>
            </div>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Image">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Logo</label>
              <img src="{{data_detail.logo}}" onerror="this.src='../../assets/images/no_image.png';" width="100%" height="150px" alt="Logo" class="upload_img">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Image</label>
              <img src="{{data_detail.image}}" onerror="this.src='../../assets/images/no_image.png';" width="100%" height="150px" alt="Image" class="upload_img">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Brochure</label>
              <img src="{{data_detail.brochure}}" onerror="this.src='../../assets/images/no_image.png';" width="100%" height="150px" alt="Brochure" class="upload_img">
            </div>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Address" disabled>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Country</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.country" fullWidth disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Province</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.province" fullWidth disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>City</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.city" fullWidth disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Address 1</label>
              <textarea rows="5" nbInput fullWidth shape="rectangle" [(ngModel)]="data_detail.address1" disabled></textarea>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Address 2</label>
              <textarea rows="5" nbInput fullWidth shape="rectangle" [(ngModel)]="data_detail.address2" disabled></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Postal Code</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.postalcode" fullWidth disabled>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Longitude Latitude</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.longitudelatitude" fullWidth disabled>
            </div>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Contact" disabled>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Phone</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.phone" fullWidth disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.email" fullWidth disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Website</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.website" fullWidth disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Facebook</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.facebook" fullWidth disabled>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Twitter</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.twitter" fullWidth disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Instagram</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.instagram" fullWidth disabled>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Linkedin</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.linkedin" fullWidth disabled>
            </div>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Setting" disabled>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Currency</label>
              <input type="text" class="form-control" [(ngModel)]="data_detail.currency" fullWidth disabled>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label style="margin-bottom: calc(0.5rem - 2px)">
                <nb-checkbox class="custom_checkbox" [(ngModel)]="data_detail.outsidecatering" disabled>Outside
                  Catering</nb-checkbox>
              </label>
              <input type="number" class="form-control" [(ngModel)]="data_detail.corkage" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Pajak Pembangunan 1</label>
              <input type="number" min="0" max="100" class="form-control" [(ngModel)]="data_detail.pajakpembangunan1" fullWidth disabled>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Service Charge</label>
              <input type="number" min="0" max="100" class="form-control" [(ngModel)]="data_detail.servicecharge" fullWidth disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Open</label>
              <input type="number" min="0" max="24" class="form-control" [(ngModel)]="data_detail.open" fullWidth disabled>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Close</label>
              <input type="number" min="0" max="24" class="form-control" [(ngModel)]="data_detail.close" fullWidth disabled>
            </div>
          </div>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-4">
        <button class="btn btn-block btn-hero-danger" (click)="delete()">DELETE</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-warning" (click)="edit()">EDIT</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-success" (click)="dismiss()">CLOSE</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>


<!-- delete -->
<nb-card *ngIf="dialog_action === 'delete'" accent="danger" style="width: 500px;">
  <nb-card-header>Delete Venue {{ name_venue }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    Are you sure want to delete this venue?
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-6">
        <button class="btn btn-block btn-hero-danger" (click)="go_delete()">DELETE</button>
      </div>
      <div class="col-6">
        <button class="btn btn-block btn-hero-success" (click)="detail()">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>


<!-- edit -->
<nb-card *ngIf="dialog_action === 'edit'" size="large" accent="warning" style="width: 800px;">
  <nb-card-header>Edit Venue {{ name_venue }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    <nb-stepper orientation="horizontal" class="stepper-custom">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Main</ng-template>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" [(ngModel)]="data_edit.name" fullWidth autocomplete="off" placeholder="Name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label>Property Type</label>
              <select class="form-control" fullWidth autocomplete="off" [(ngModel)]="data_edit.propertytype">
                <option value="Hotel">Hotel</option>
                <option value="Coworker">Coworker</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Bisnis Type</label>
              <select class="form-control" fullWidth autocomplete="off" [(ngModel)]="data_edit.bisnistype">
                <option value="Hotel">Hotel</option>
                <option value="Coworker">Coworker</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Year Built</label>
              <input type="number" class="form-control" [(ngModel)]="data_edit.yearbuilt" fullWidth autocomplete="off"
                placeholder="Year Built">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Last Renovate</label>
              <input type="number" class="form-control" [(ngModel)]="data_edit.lastrenovate" fullWidth autocomplete="off"
                placeholder="Last Renovate">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Description</label>
              <textarea rows="5" nbInput fullWidth fieldSize="medium" autocomplete="off" shape="rectangle" [(ngModel)]="data_edit.description"
                placeholder="Description"></textarea>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Overview</label>
              <textarea rows="5" nbInput fullWidth autocomplete="off" shape="rectangle" [(ngModel)]="data_edit.overview"
                placeholder="Overview"></textarea>
            </div>
          </div>
        </div>
        <!-- <button nbButton disabled nbStepperNext>prev</button>
        <button nbButton nbStepperNext>next</button> -->
      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Image</ng-template>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Logo</label>
              <input type="file" accept='image/*' fieldSize="medium" class="form-control upload" [(ngModel)]="data_edit.logo"
                fullWidth autocomplete="off" placeholder="Logo" (change)="changeLogo($event)">
              <img [src]="logoURL" onerror="this.src='../../assets/images/no_image.png';" width="100%" height="150px"
                alt="Logo" class="upload_img">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Image</label>
              <input type="file" accept='image/*' fieldSize="medium" class="form-control upload" [(ngModel)]="data_edit.image"
                fullWidth autocomplete="off" placeholder="Image" (change)="changeImage($event)">
              <img [src]="imageURL" onerror="this.src='../../assets/images/no_image.png';" width="100%" height="150px"
                alt="Logo" class="upload_img">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Brochure</label>
              <input type="file" accept='image/*' fieldSize="medium" class="form-control upload" [(ngModel)]="data_edit.brochure"
                fullWidth autocomplete="off" placeholder="Brochure" (change)="changeBrochure($event)">
              <img [src]="brochureURL" onerror="this.src='../../assets/images/no_image.png';" width="100%" height="150px"
                alt="Logo" class="upload_img">
            </div>
          </div>
        </div>
        <!-- <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button> -->
      </nb-step>
      <nb-step [label]="labelThree">
        <ng-template #labelThree>Address</ng-template>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Country</label>
              <input type="text" class="form-control" [(ngModel)]="data_edit.country" fullWidth autocomplete="off" placeholder="Country">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Province</label>
              <input type="text" class="form-control" [(ngModel)]="data_edit.province" fullWidth autocomplete="off" placeholder="Province">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>City</label>
              <input type="text" class="form-control" [(ngModel)]="data_edit.city" fullWidth autocomplete="off" placeholder="City">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Address 1</label>
              <textarea rows="5" nbInput fullWidth fieldSize="medium" autocomplete="off" shape="rectangle" [(ngModel)]="data_edit.address1"
                placeholder="Address 1"></textarea>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Address 2</label>
              <textarea rows="5" nbInput fullWidth fieldSize="medium" autocomplete="off" shape="rectangle" [(ngModel)]="data_edit.address2"
                placeholder="Address 2"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Postal Code</label>
              <input type="text" class="form-control" [(ngModel)]="data_edit.postalcode" fullWidth autocomplete="off" placeholder="Postal Code">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Longitude Latitude</label>
              <input type="text" class="form-control" [(ngModel)]="data_edit.longitudelatitude" fullWidth autocomplete="off"
                placeholder="Longitude Latitude">
            </div>
          </div>
        </div>
        <!-- <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button> -->
      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>Contact</ng-template>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Phone</label>
              <input type="tel" class="form-control" [(ngModel)]="data_edit.phone" fullWidth autocomplete="off" placeholder="Phone">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" [(ngModel)]="data_edit.email" fullWidth autocomplete="off" placeholder="Email">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Website</label>
              <input type="url" class="form-control" [(ngModel)]="data_edit.website" fullWidth autocomplete="off" placeholder="Website">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Facebook</label>
              <input type="url" class="form-control" [(ngModel)]="data_edit.facebook" fullWidth autocomplete="off" placeholder="Facebook">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Twitter</label>
              <input type="url" class="form-control" [(ngModel)]="data_edit.twitter" fullWidth autocomplete="off" placeholder="Twitter">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Instagram</label>
              <input type="url" class="form-control" [(ngModel)]="data_edit.instagram" fullWidth autocomplete="off" placeholder="Instagram">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Linkedin</label>
              <input type="url" class="form-control" [(ngModel)]="data_edit.linkedin" fullWidth autocomplete="off" placeholder="Linkedin">
            </div>
          </div>
        </div>
        <!-- <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button> -->
      </nb-step>
      <nb-step [label]="labelFive">
        <ng-template #labelFive>Setting</ng-template>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Currency</label>
              <input type="text" minlength="3" maxlength="3" class="form-control" [(ngModel)]="data_edit.currency" fullWidth
                autocomplete="off" placeholder="Currency">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label style="margin-bottom: calc(0.5rem - 2px)">
                <nb-checkbox class="custom_checkbox" [(ngModel)]="data_edit.outsidecatering" (change)="outsidecatering_change()">Outside
                  Catering</nb-checkbox>
              </label>
              <input type="number" min="0" max="100" class="form-control" [(ngModel)]="data_edit.corkage" [disabled]="outsidecatering ? false : true"
                fullWidth autocomplete="off" placeholder="Corkage">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>PB 1</label>
              <input type="number" min="0" max="100" class="form-control" [(ngModel)]="data_edit.pb1" fullWidth autocomplete="off"
                placeholder="PB 1">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Service Charge</label>
              <input type="number" min="0" max="100" class="form-control" [(ngModel)]="data_edit.servicecharge" fullWidth
                autocomplete="off" placeholder="Service Charge">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Open</label>
              <input type="number" min="0" max="24" class="form-control" [(ngModel)]="data_edit.open" fullWidth autocomplete="off"
                placeholder="Open" (change)="open_change()">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Close</label>
              <input type="number" min="0" max="24" class="form-control" [(ngModel)]="data_edit.close" fullWidth autocomplete="off"
                placeholder="Close" (change)="close_change()">
            </div>
          </div>
        </div>
        <!-- <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button> -->
      </nb-step>
    </nb-stepper>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-12">
        {{error_message}}
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-4">
        <button class="btn btn-block btn-hero-warning" (click)="go_edit()">EDIT</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-primary" (click)="revert();">REVERT</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-success" (click)="detail()">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<!-- loading modal -->
<div [hidden]="!loading"  class="loading_modal">
  <div class="blob blob-0"></div>
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
  <div class="blob blob-4"></div>
  <div class="blob blob-5"></div>
</div>