@import '../../../../@theme/styles/themes';
@import '../../../../@theme/styles/loading-modal';

// loading_modal
@-webkit-keyframes spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}@-moz-keyframes spin{0%{-moz-transform:rotate(0)}100%{-moz-transform:rotate(360deg)}}@keyframes spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}.loading_modal{position:fixed;top:0;left:0;width:100%;height:100%;z-index:2000000;background: #000000c7;overflow:hidden}  .loading_modal div:first-child{display:block;position:relative;left:50%;top:50%;width:150px;height:150px;margin:-75px 0 0 -75px;border-radius:50%;box-shadow:0 3px 3px 0 rgba(255,56,106,1);transform:translate3d(0,0,0);animation:spin 2s linear infinite}  .loading_modal div:first-child:after,.loading_modal div:first-child:before{content:'';position:absolute;border-radius:50%}  .loading_modal div:first-child:before{top:5px;left:5px;right:5px;bottom:5px;box-shadow:0 3px 3px 0 rgb(255, 228, 32);-webkit-animation:spin 3s linear infinite;animation:spin 3s linear infinite}  .loading_modal div:first-child:after{top:15px;left:15px;right:15px;bottom:15px;box-shadow:0 3px 3px 0 rgba(61, 175, 255,1);animation:spin 1.5s linear infinite}

@include nb-install-component() {
  nb-card {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
  }
}

.tab-custom .row{
  margin-right: 0px !important; 
  margin-left: 0px !important; 
}

input.upload{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.upload_img {
  border-color: #dadfe6;
  background-color: #ffffff;
  border: 2px solid #dadfe6;
  border-radius: 0.375rem;
  margin-top: .5rem;
}

.detail_title {
  font-size: 23px;
  line-height: normal;
  letter-spacing: 0.01em;
  color: #22272F;
  margin-top: 12px;
  margin-bottom: 8px;
  font-weight: bold;
}

.detail_category {
  color: #707478;
  background: #fff;
  line-height: 1.42857143;
  font-size: 14px;
}

.detail_publish {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #A6B9DA;
}

.detail_striped{
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 12px;
}