<!-- detail -->
<nb-card *ngIf="dialog_action === 'detail'" size="large" accent="success" style="width: 870px;">
  <nb-card-header>Detail Blog {{ title_blog }}</nb-card-header>
  <nb-card-body>
    <div class="row" style="text-align: center;">
      <div class="col-sm-12">
        <div class="form-group">
          <img src="{{data_detail.image}}" onerror="this.src='../../assets/images/no_image.png';" width="100%" height="220px"
            alt="Image" class="upload_img">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="detail_category">{{data_detail.category_name}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="detail_title">{{title_blog}}</div>
      </div>
    </div>
    <div class="row"> 
      <div class="col-sm-12">
        <div class="detail_publish">{{data_detail.publish_at | date: 'dd/MM/yyyy'}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="detail_striped">{{data_detail.striped_body}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div [innerHTML]="data_detail.html_body"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
      <button class="btn btn-hero-primary" *ngFor="let data of data_tag_detail;" style="margin-top: 5px; margin-right:5px;">{{data}}</button>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-4">
        <button class="btn btn-block btn-hero-danger" (click)="delete()">DELETE</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-warning" (click)="edit()">EDIT</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-success" (click)="dismiss()">CLOSE</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>


<!-- delete -->
<nb-card *ngIf="dialog_action === 'delete'" accent="danger" style="width: 400px;">
  <nb-card-header>Delete Blog {{ title_blog }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    Are you sure want to delete this blog?
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-6">
        <button class="btn btn-block btn-hero-danger" (click)="go_delete()">DELETE</button>
      </div>
      <div class="col-6">
        <button class="btn btn-block btn-hero-success" (click)="detail()">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>


<!-- edit -->
<nb-card *ngIf="dialog_action === 'edit'" size="large" accent="warning" style="width: 870px;">
  <nb-card-header>Edit Blog {{ title_blog }}</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
            <span style="float: left;"><label>Title</label></span><span style="float: right;"> <nb-checkbox class="custom_checkbox" [(ngModel)]="data_edit.highlight" >Highlight</nb-checkbox></span>
          <input type="text" class="form-control" [(ngModel)]="data_edit.title" fullWidth autocomplete="off" placeholder="Title">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Striped</label>
          <input type="text" class="form-control" [(ngModel)]="data_edit.striped_body" fullWidth autocomplete="off"
            placeholder="Striped">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Category</label>
          <select class="form-control" fullWidth autocomplete="off" [(ngModel)]="data_edit.category_id">
              <option value="{{data.id}}" *ngFor="let data of data_category;">{{data.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Status</label>
          <select class="form-control" fullWidth autocomplete="off" [(ngModel)]="data_edit.status">
            <option value="publish">Publish</option>
            <option value="unpublish">Unpublish</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Publish Date</label>
          <input class="form-control" nbInput placeholder="Publish Date" [nbDatepicker]="formpicker"
            [(ngModel)]="publish_date">
          <nb-datepicker #formpicker [min]="min"></nb-datepicker>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Tag</label>
          <input type="text" class="form-control" [(ngModel)]="tag" fullWidth autocomplete="off" placeholder="Tag" (keyup.enter)="add_tag(tag)">
          <button class="btn btn-hero-primary" *ngFor="let data of data_tag;" (click)="delete_tag(data);" style="margin-top: 5px; margin-right:5px;">{{data}}</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Image</label>
          <input type="file" accept='image/*' fieldSize="medium" class="form-control upload" [(ngModel)]="image"
            fullWidth autocomplete="off" placeholder="Image" (change)="changeImage($event)">
          <img [src]="imageURL" onerror="this.src='../../assets/images/no_image.png';" width="100%" height="220px"
            alt="Logo" class="upload_img">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Content</label>
          <editor apiKey="8qkc9irapf9ofjiphxk287o2q7ft620m6i06t5h2k5yawmym" [(ngModel)]="data_edit.html_body" [init]="{plugins: 'link', height : '480'}"></editor>
          <!-- <ckeditor [(ngModel)]="data_edit.html_body" [editor]="Editor" placeholder="Type the content here!"
            style="width: 100%;"></ckeditor> -->
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-12">
        {{error_message}}
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-4">
        <button class="btn btn-block btn-hero-warning" (click)="go_edit()">EDIT</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-primary" (click)="go_revert();">REVERT</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-success" (click)="detail()">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<!-- loading modal -->
<div [hidden]="!loading" class="loading_modal">
  <div class="blob blob-0"></div>
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
  <div class="blob blob-4"></div>
  <div class="blob blob-5"></div>
</div>