<!-- add -->
<nb-card *ngIf="dialog_action === 'add'" size="large" accent="info" style="width: 870px;">
  <nb-card-header>Add New Blog</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <span style="float: left;"><label>Title</label></span><span style="float: right;"> <nb-checkbox class="custom_checkbox" [(ngModel)]="highlight" >Highlight</nb-checkbox></span>
          <input type="text" class="form-control" [(ngModel)]="title" fullWidth autocomplete="off" placeholder="Title"> 
                   
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Striped</label>
          <input type="text" class="form-control" [(ngModel)]="striped" fullWidth autocomplete="off"
            placeholder="Striped">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Category</label>
          <select class="form-control" fullWidth autocomplete="off" [(ngModel)]="category">
              <option value="{{data.id}}" *ngFor="let data of data_category;">{{data.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Status</label>
          <select class="form-control" fullWidth autocomplete="off" [(ngModel)]="status">
            <option value="publish">Publish</option>
            <option value="unpublish">Unpublish</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Publish Date</label>
          <input class="form-control" nbInput placeholder="Publish Date" [nbDatepicker]="formpicker"
            [(ngModel)]="publish_date">
          <nb-datepicker #formpicker [min]="min"></nb-datepicker>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Tag</label>
          <input type="text" class="form-control" [(ngModel)]="tag" fullWidth autocomplete="off" placeholder="Tag" (keyup.enter)="add_tag(tag)">
          <button class="btn btn-hero-primary" *ngFor="let data of data_tag;" (click)="delete_tag(data);" style="margin-top: 5px; margin-right:5px;">{{data}}</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Image</label>
          <input type="file" accept='image/*' fieldSize="medium" class="form-control upload" [(ngModel)]="image"
            fullWidth autocomplete="off" placeholder="Image" (change)="changeImage($event)">
          <img [src]="imageURL" onerror="this.src='../../assets/images/no_image.png';" width="100%" height="220px"
            alt="Logo" class="upload_img">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Content</label>
            <editor apiKey="8qkc9irapf9ofjiphxk287o2q7ft620m6i06t5h2k5yawmym" [(ngModel)]="content" [init]="{plugins: 'link', height : '480'}"></editor>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-12">
        {{error_message}}
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-4">
        <button class="btn btn-block btn-hero-info" (click)="dialog_action = 'confirm'">ADD</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-primary" (click)="clear();
        reset();">CLEAR</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-hero-success" (click)="dismiss()">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<!-- confirm -->
<nb-card *ngIf="dialog_action === 'confirm'" accent="info" style="width: 500px;">
  <nb-card-header>Add Blog {{ title }}</nb-card-header>
  <nb-card-body style="text-align: center;">
    Are you sure want to add this blog?
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-6">
        <button class="btn btn-block btn-hero-info" (click)="add()">Add</button>
      </div>
      <div class="col-6">
        <button class="btn btn-block btn-hero-success" (click)="dialog_action = 'add'">CANCEL</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<!-- loading modal -->
<div [hidden]="!loading" class="loading_modal">
  <div class="blob blob-0"></div>
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
  <div class="blob blob-4"></div>
  <div class="blob blob-5"></div>
</div>